
/* 
body{
    background-color: #ebf0f5;
  
  } */
  .mybg{
    background-color: #ebf0f5;
  }
  .btext{
    color: black;
  }
  
  .bgblack{
  background-color: black;
  }
  
  .borderb{
    border: 2px solid black;
  }
  .boldText{
  font-weight: bold;
  font-size: 20px;
  }
  
  .clrNew{
    background-color: hsl(0, 5%, 83%);
  }