/* FlipCard.css */
.flip-card {
  background-color: transparent;
  width: 300px; /* Adjust the width as needed */
  height: 230px; /* Adjust the height as needed */
  perspective: 1000px;
  margin: 10px 0; /* Adjust the margin to fit your layout */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  animation: rotateCard 8s infinite linear; /* Automatic rotation */
}

.flip-card:hover .flip-card-inner {
  animation-play-state: paused; 
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
}

.flip-card-back {
  background-color:#ebf0f5;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
}

@keyframes rotateCard {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
