* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-containerTT {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-top: -1.7rem; */
    /* margin-left: -4rem; */
}

.background-image {
    position: absolute;
    top: 0;
    /* margin-left: 3rem; */
    width: 100vw;
    height: 100%;
    /* margin-top: -4rem; */
    
}

.login-formTT {
    background: rgba(255, 255, 255,0.2);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 35rem;
    text-align: center;
    margin-bottom: 65px;
    
}
.modal-content {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 35rem;
    text-align: center;
    margin-bottom: 65px;
    margin-left: -0.4rem;
}

.login-form h2 {
    margin-bottom: 20px;
    
    color: white;
}
.modal-content h5 {
    margin-bottom: 20px;
    
    color: white;
    margin-left: 34%;
    font-size: 25px;
    font-weight: 700;
    
}

.modal-content h3 {
    margin-bottom: 20px;

    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.form-button,
.form-button-2 {
    padding: 10px 20px;
    background-color: hsl(0, 1%, 31%);
    color: #fff;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    width: 40%;
    transition: background-color 0.3s ease;
}

.form-button:hover,
.form-button-2:hover {
    background-color: #000000;
}

.meeting-details p {
    margin-bottom: 10px;
    color: #333;
}
