/* FormComponent.css */

  .form-wrapper {
    background-color:#ebf0f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  } 
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px 10px;  /* Adjusted padding for more space */
    font-size: 1rem;
  }
  
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;  /* Ensures placeholder is visible */
  }
  
  .form-control:focus {
    border-color: #80bdff;
    /* box-shadow: 0 0 5px rgba(130, 13, 13, 0.25); */
  }
  
  button {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;

  }
  
  button:focus {
    outline: none;
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); */
  }
  .form2{
    margin-top: 21px;
  }
  .button2 {
    display: block;
    width: 130px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #820d0d;
    border-color: #820d0d;
    position: fixed;
    top: 24%; /* Adjust this value to position the button vertically */
    left: 0; /* Adjust this value to position the button horizontally */
    transform: rotate(270deg);
    margin-left: -44px;
    z-index: 999; /* Ensure it's above other content if necessary */
}

.button2:focus {
    outline: none;
    /* box-shadow: 0 0 5px rgba(130, 13, 13, 0.25); */

}
.button2:hover,
.button2:focus {
  background-color: #d9534f !important; /* Change to your desired red color */
  border-color: #d9534f !important; /* Change to match the background color */
  outline: none !important; /* Remove the default outline */
}
