.bgB{
  
    background-color: 	#FBFFFF;
    margin-top: 120px;
}
.scroll{
  height: 160px;
            border: 1px solid #ccc;
            padding: 10px;
            overflow: auto; 
           
}



 

.card {
    flex: 0 0 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.container8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    margin-left:auto;
   
    margin-right: auto; 
    max-width: 1200px; 
   
}

.container88 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 130px;

    margin-left:auto;
   
    margin-right: auto; 
    max-width: 100%; 
   
}

.card {
    flex: 0 0 calc(25% - 30px); 
    max-width: 130px; 
    height: 130px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tag{
color: black;
margin-top: -20px;

}
.tag4{
    color: black;
    margin-top: 20px;
}
    
.container899 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
 gap: 30px;
    

  }
  
  .card56 {
    flex: 0 0 calc(25% - 20px); 
    max-width: 450px;
    margin: 10px;
    padding: 30px;

    
    border-radius: 18px;
 border: 8px solid white;
    transition: transform 0.3s;
    background-color: black;
    color: white;
   
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .card56:hover {
    transform: scale(1.05);
  }
  
  .card56 h2 {
 
    margin-bottom: 10px;
 
  width: 330px;
  
    font-weight: 600;
    font-size: 20px;
 
  }

  
  .card56 p {
    font-size: 16px;
    color: white;
   
  }
  .se{
    display: flex;
    justify-content: center;
  
    color: black;
    margin-top: 50px;
    font-weight: 500;
    font-size: 50px;
  }
  
  .container21 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    background-color: black;
    margin-top: 50px;
    background-size: cover;
  }
  
  .card21 {
    flex: 0 0 calc(25% - 20px); 
    max-width: 200px;
    margin: 20px;
  

    padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: white 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  border: 2px solid black;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    
  }
  
  .card21:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% / 4));
    }
  }
  
  .animate-slide {
    display: flex;
    width: calc(100% * 4);
    animation: slide 20s linear infinite;
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 120px;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 100px; 
    }
  }
  
  @media (max-width: 768px) {
    .card56 {
      flex: 0 0 calc(50% - 20px); 
    }
  }
  
  @media (max-width: 480px) {
    .card56 {
      flex: 0 0 calc(100% - 20px); 
    }
  }
  

@media (max-width: 768px) {
    .card {
        flex: 0 0 calc(50% - 30px); 
    }
    
}

@media (max-width: 480px) {
    .card {
        flex: 0 0 calc(100% - 20px); 
    }
}