.title {
  color: black;
  margin-top: -100px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.description {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Poppins';
  margin-top: 20px; 
}

.img-fluid1 {
  width: 100%;
  height: auto;
  animation: content 3s infinite;
}

@keyframes content {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.professional-services {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-top: -5rem;
}

.our-process {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-top: 3rem;
}

.recent-work {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

.appreciation {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-top: 1rem;
}


/* .car-container,
.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}




.our-specialities {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-top: 3rem;
}

.row .mt-5 {

}



.img-fluid {
  width: 100%;
  height: auto;

}


.row5 .mt-5 {

}




.car-container img,
.card-container2 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.card-abc {
  width: 100%; 
}
*/
@media only screen and (max-width: 600px) {
  /* .card-abc {
    width: 100%;
  } */
   .our-process {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 1rem;
  margin-bottom: 2rem;

}
} 
