@import "https://fonts.googleapis.com/css?family=Open+Sans";

body {
    background: #181818;
    color: #F7F9F9;
    font-family: 'Open Sans', sans-serif;
    
}

h1 {
    font-weight: 300;
}

.title {
    margin-bottom: 25px;
    color: #AEB6BF;
    font-size: 18px;
}

.title span {
    color: #5DADE2;
}

.content {
    width: 640px;
    margin: 45px auto;
    
}

.tabs-body {
    
}

.tabs-header {
    display: table;
    width: 90%;
    padding-top: 5rem;
    padding-left: 8rem;
    
}

.tabs-header li {
    display: table-cell;
    text-align: center;
    color: white;
    cursor: pointer;
    
    
    
}


.tabs-header li>a {
    display: block;
    padding: 15px;
    background: rgb(69, 69, 69);
   
    transition: all .2s ease-in;
    transform: skew(-40deg);
    font-weight: 900;
    font-size: 18px;
}

.tabs-header li>a span {
    display: block;
    transform: skew(40deg);
}

.tabs-header li>a:hover {
    background: #d62b2b;
    color: #F7F9F9;
    
}

.tabs-header li.active>a {
    background: #d62b2b;
    
}

.tabs-content {
    margin-top: 15px;
    position: relative;
    padding: 20px 25px;
    overflow: hidden;
    background: black;
    
    
}

.tabs-content .tabs-textItem {
    display: none;
    transform: translateY(100%);
}

.tabs-content .tabs-textItem.show {
    display: block;
    transform: translateY(0);
    animation: change .49s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tabs-content .tabs-textItem p {
    font: normal 18px/1.5 'Open Sans';
    color: #F2F3F4;
}

@keyframes change {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .tabs-header li>a {
        margin-left: -7rem;
    height: 2rem;
    width: 9.7rem;
    
    font-size: 0.4rem;
    border: 0.2px solid rgb(216, 202, 202);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding:0;
    
    padding-left: 0.2rem;
    justify-content: start;
    }
    .tabs-content {
       
        overflow: scroll;
        
        
    }
    
    
}